/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */
.Layout {
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
}
