/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');
@font-face {
	font-family: 'Psychofun';
	font-style: normal;
	font-weight: 400;
	src: url('../public/fonts/PsychofunRegular-vmBXy.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
